<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>

  <%= form_tag('/heroines', method: :get)%>
  <%= collection_select :heroines, :ids, Power.all, :id, :name %>
  <%= submit_tag 'Find'%>
</ul>
