<h3> Name: <%= @heroine.name %></h3>
<p> <b>Super Name: </b><%= @heroine.super_name %></p>

<p> <b> Power:</b> <%=  link_to @heroine.power.name, power_path(@heroine.power)%> </p>

<hr>
<p><%= link_to "All Heroines", heroines_path %> </p>